@mixin logo {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  top: 1.5em;
  position: absolute;
  transition: all $transition_out ease-in-out;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, .2));
}

@mixin tech-logo {
  @include logo;
  left: 1.5em;
}

@mixin team-logo {
  @include logo;
  right: 1.5em;
}

/** Tech Logo's **/

.col[data-tech="android"]:before {
  @include tech-logo;
  background-image: url(../static/logos/tech/android.png);
}

.col[data-tech="vue"]:before {
  @include tech-logo;
  background-image: url(../static/logos/tech/vue.png);
}

.col[data-tech="react"]:before {
  @include tech-logo;
  background-image: url(../static/logos/tech/react.png);
}

.col[data-tech="php"]:before {
  @include tech-logo;
  background-image: url(../static/logos/tech/php.png);
}

.col[data-tech="java"]:before {
  @include tech-logo;
  background-image: url(../static/logos/tech/java.png);
}

.col[data-tech="javascript"]:before {
  @include tech-logo;
  background-image: url(../static/logos/tech/javascript.png);
}

/** Team Logo's **/

.col[data-team="solo"]:after {
  @include team-logo;
  background-image: url(../static/logos/team/solo.png);
}

.col[data-team="team"]:after {
  @include team-logo;
  background-image: url(../static/logos/team/team.png);
}

.col[data-team="pro"]:after {
  @include team-logo;
  background-image: url(../static/logos/team/pro.png);
}

