&[data-name*="portrait"] > .img:before {
  background-image: url(../static/portrait.webp);
}

&[data-name*="professional"] > .img:before {
  background-image: url(../static/professional.webm);
}

&[data-name*="fun"] > .img:before {
  background-image: url(../static/fun.webp);
}

&[data-name*="pokedexreact"] > .img:before {
background-image: url(../static/projects/pokedexreact/pokedexreact.webp);
}

&[data-name*="pokedexvue"] > .img:before {
  background-image: url(../static/projects/pokedexvue/pokedexvue.webp);
}

&[data-name*="monumental"] > .img:before {
  background-image: url(../static/projects/monumental/monumental_2.webp);
}

&[data-name*="usmedia"] > .img:before {
  background-image: url(../static/projects/usmedia/usmedia.webp);
}

&[data-name*="winc"] > .img:before {
  background-image: url(../static/projects/winc/winc.webp);
}

&[data-name*="vittles"] > .img:before {
  background-image: url(../static/projects/vittles/vittles_1.webp);
}

&[data-name*="kabisa"] > .img:before {
  background-image: url(../static/projects/kabisa/kabisa.webp);
}

&[data-name*="timewizard"] > .img:before {
  background-image: url(../static/projects/timewizard/timewizard.webp);
}

&[data-name*="pokedexandroid"] > .img:before {
  background-image: url(../static/projects/pokedexandroid/pokedexandroid.webp);
}

&[data-name*="fys"] > .img:before {
  background-image: url(../static/projects/fys/fys.webp);
}

&[data-name*="24i"] > .img:before {
  background-image: url(../static/projects/24i/24i.webp);
}

&[data-name*="botenloods"] > .img:before {
  background-image: url(../static/projects/botenloods/botenloods.webp);
}



