@import "boilerplate";

/* ==========================================================================
   Begin Author's custom styles
   ========================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Dimensions
$navbar_height: 5em;
$navbar_collapsed_height: 3em;

// Element max sizes
$full_page_width: 1000px;
$container_max_width: 768px;

// Screen sizes
$small: 480px;
$medium: 900px;

// Transition timings
$transition_in: .1s;
$transition_out: .35s;

// Colors
$main_color: #222;
$button_color: #efefef;

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

// General styles
button,.button {
  background-color: $button_color;
  border: none;
  padding: 1em;
  cursor: pointer;
  transition: transform .35s, box-shadow .35s;

  &:hover {
    transform: translateY(-6px);
    transition: transform .1s, box-shadow .1s;
    box-shadow: black 0 6px;
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: black 0 2px;
    outline: none;
  }
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  background-color: #222;
  color: whitesmoke;
  max-height: $navbar_height;
  top: 0;
  box-shadow: black 0 0 12px;
  transition: max-height $transition_out;

  &.collapsed {
    max-height: $navbar_collapsed_height;
  }

  &.shown {
    transition: max-height $transition_out;
    max-height: 500px;

    #menu {
      transition: opacity $transition_out, transform $transition_out;
      opacity: 1;
      transform: translateX(0px);
      pointer-events: all;
    }
  }

  & #logo {
    cursor: pointer;
    transition: transform $transition_out;

    &:hover {
      transform: scale(1.1);
      transition: transform $transition_in;
    }
  }

  & #menu {
    text-align: right;
    flex-basis: 100%;
    transition: opacity 1s;

    span, a {
      color: whitesmoke;
      cursor: pointer;
      text-decoration: underline solid transparent;
      transition: text-decoration-color $transition_out;
      white-space: nowrap;
      padding: 0 1em;

      &:hover {
        text-decoration-color: whitesmoke;
        transition: text-decoration-color $transition_in;
      }
    }
  }

  #mobile_menu {
    display: none;
    cursor: pointer;
    transition: transform $transition_out;

    &:hover {
      transform: scale(1.2);
      transition: transform $transition_in;
    }
  }
}

#cover {
  margin: $navbar_height auto auto;
  width: 100%;
  height: calc(100vh - #{$navbar_height});
  object-fit: cover;
  box-shadow: $main_color 0px -32px 0px 0px, rgba(0, 0, 0, .2) 0 0 6px;
  pointer-events: none;
}

#content {
  margin: auto;

  section {
    .container {
      padding: 1em;
      max-width: $full_page_width;
      margin: auto;

      .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        & .col {
          padding: 1em;
          flex-grow: 1;
          flex-basis: 250px;

          & .img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
          }
        }
      }
    }
  }

  #contact {
    .container {
      max-width: $container_max_width;

      .wrapper {
        display: block;

        .contact_form {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: -1em;

          &__left {
            flex-grow: 1;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & input {
              display: block;
              width: 100%;
              border: none;
              box-shadow: rgb(0 0 0 / 50%) 0 0 6px;
              border-radius: 2px;
              padding: .5em;

              &:first-of-type {
                margin-bottom: 1em;
              }
            }
          }

          &__right {
            flex-grow: 1;
            padding: 1em;

            & textarea {
              display: inline-block;
              width: 100%;
              height: 100%;
              border: none;
              box-shadow: rgb(0 0 0 / 50%) 0 0 6px;
              border-radius: 2px;
              padding: .5em;
            }
          }

          &__bottom {
            flex-basis: 100%;

            button {
              margin: 0 auto;
              display: block;
            }

            .g-recaptcha {
              margin-top: 1em;

              div {
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}

#footer {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: $main_color;
  color: whitesmoke;

  & div {
    display: inline-block;
  }

  & span {
    padding: 0 .5em;
  }

  width: 100%;
}

@media screen and (max-width: $small) {
  #navbar {

    #menu {
      transition: opacity $transition_in, transform $transition_in;;
      opacity: 0;
      transform: translateX(50px);
      pointer-events: none;
      width: auto;

      span {
        display: block;
      }
    }

    #mobile_menu {
      display: inherit;
    }
  }

  #content {
    h1 {
      text-align: center;
    }
  }
}

/* ==========================================================================
   End Author's custom styles
   ========================================================================== */

@import "helpers";
